<link rel="stylesheet" href="styles/done-status.css">
<div class="done-container">
    <p class="success-p"> Successfully Scraped : <%= result.successLength %> Prodcuts </p>
    <p class="failed-p"> Failed to Scrape : <%= result.failedLength %> Products </p>
</div>